body {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  width:40em;
  margin:auto;
  text-align:center;
}

#word {
  font-size:5em;
  letter-spacing:0.25em
}

#newgame {
  display:none;
  font-size:1.5em;
  padding:0.5em;
  margin:1em;
}
